{% capture defaultLang %}{{ site.site_languages[0]['lang_id'] }}{% endcapture %}

<script>

// define site default language and page language
let pageLang = "{{ page.lang }}";
let defaultLangId = "{{ defaultLang }}";
let baseUrl = "{{ site.baseurl }}";

// use button ids to set up url and style each button
document.querySelectorAll(".lang-button").forEach( node => {
    let id = node.id;
    let newUrl = "";
    let url = window.location.href;
    let buttonLink = document.getElementById(id);
    if (url.includes("/" + id + "/")){
        buttonLink.href = url;
    } else if (id == defaultLangId){
        let path = "/" + pageLang + "/";
        newUrl = url.includes(path) ? url.replace(path, "/") : url;
        buttonLink.href = newUrl;
    } else {
        buttonLink.href = url;
        let pageUrl = buttonLink.pathname.replace(baseUrl, "");
        buttonLink.pathname = baseUrl + '/' + id + pageUrl;
    };
    if (id == pageLang){ 
        node.classList.add("text-white", "btn-active", "focus");
        node.setAttribute('aria-current', 'page');
    }
});

</script>