<nav class="navbar navbar-expand-lg {{ site.data.theme.navbar-color | default: 'navbar-dark' }} {{ site.data.theme.navbar-background | default: 'bg-dark' }}">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if site.organization-logo-nav %}<span class="d-lg-none text-end">
            <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                <img class="img-fluid" id="mobile-nav-image" src="{{ site.organization-logo-nav | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name }} home" >
            </a>
        </span>{% endif %}
        
        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav me-auto">
                {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                {% capture page-url %}{% if page.layout == 'home-infographic' %}{{ page.url | remove: 'index' }}{% else %}{{ page.url | append: '.html' }}{% endif %}{% endcapture %} 
                {% for nav in navItems %}
                {% if nav.stub %}
                {% capture page-stub %}{{ page.lang | prepend: '/' | append: nav.stub }}{% endcapture %}
                <li class="nav-item">
                    <a class="nav-link{% if page.lang == site.site_languages[0]['lang_id'] and page.url == nav.stub %} active{% elsif page-url == page-stub %} active{% endif %}" href="{% if page.lang != site.site_languages[0]['lang_id'] %}{{ nav.stub | prepend: page.lang | prepend: '/' | relative_url }}{% else %}{{ nav.stub | relative_url }}{% endif %}">{{ site.data.config-translation | where: "translate_id", nav.translate_id_nav | map: page.lang | first }}</a>
                </li>
                {%- else -%}
                <li class="nav-item dropdown">
                    {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                    {%- assign childStubs = navChildren | map: 'stub' -%}
                    <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ site.data.config-translation | where: "translate_id", nav.translate_id_nav | map: page.lang | first }}</a>
                    <div class="dropdown-menu">
                        {% for c in navChildren %}
                        {% capture child-stub %}{{ page.lang | prepend: '/' | append: c.stub }}{% endcapture %}
                        <a class="dropdown-item {% if page.lang == site.site_languages[0]['lang_id'] and page.url == c.stub %} active{% elsif page-url == child-stub %} active{% endif %}" href="{% if page.lang != site.site_languages[0]['lang_id'] %}{{ nav.stub | prepend: page.lang | prepend: '/' | relative_url }}{% else %}{{ c.stub | relative_url }}{% endif %}">{{ site.data.config-translation | where: "translate_id", c.translate_id_nav | map: page.lang | first }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {%- endfor -%}
            </ul>
            
            {% include nav-search-lunr.html %}

            <ul class="navbar-nav ps-md-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <svg 
                            class="bi icon-sprite text-body" 
                            fill="currentColor" 
                            style="color: white !important;"
                            aria-hidden="true">
                            <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#globe"/>
                        </svg> 
                        {% if page.lang == site.site_languages[0]['lang_id'] %} {{ site.site_languages[0]['lang_display'] }}{% else %} {{ altLang.lang_display }}{% endif %}
                    </a>
                    <div class="dropdown-menu">
                        {%- assign altlanguages = site.site_languages | where_exp: 'lang', 'lang.lang_id != page.lang' -%}
                        {% for l in altlanguages %}
                            <a class="dropdown-item lang-button" id="{{ l.lang_id }}">{{ l.lang_display }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
