<footer class="bg-dark pt-4 mt-auto container-fluid">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7  px-4 mt-2">

            <h2 class="h4"><a href="{% if page.lang != site.site_languages[0]['lang_id'] %}{{ '/' | prepend: page.lang | prepend: '/' | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}" class="text-white font-weight-normal">{% if page.lang == site.site_languages[0]['lang_id'] %}{{ site.title }}{% else %}{{ altLang.lang_site_title }}{% endif %}</a></h2>
            <p class="text-white"><small>{% if page.lang == site.site_languages[0]['lang_id'] %}{{ site.description }}{% else %}{{ altLang.lang_site_description }}{% endif %}</small></p>
            <nav>
                <ul id="footer-nav" class="nav nav-pills ">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% capture page-url %}{% if page.layout == 'home-infographic' %}{{ page.url | remove: 'index' }}{% else %}{{ page.url | append: '.html' }}{% endif %}{% endcapture %}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                    {% capture page-stub %}{{ page.lang | prepend: '/' | append: nav.stub }}{% endcapture %}
                        <a class="nav-link text-light{% if page.lang == site.site_languages[0]['lang_id'] and page.url == nav.stub %} active{% elsif page-url == page-stub %} active{% endif %}" href="{% if page.lang != site.site_languages[0]['lang_id'] %}{{ nav.stub | prepend: page.lang | prepend: '/' | relative_url }}{% else %}{{ nav.stub | relative_url }}{% endif %}">{{ site.data.config-translation | where: "translate_id", nav.translate_id_nav | map: page.lang | first }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.translate_id_nav' | first %}
                    {% capture child-stub %}{{ page.lang | prepend: '/' | append: childStub.stub }}{% endcapture %}
                        <a class="nav-link text-light{% if page.lang == site.site_languages[0]['lang_id'] and page.url == childStub.stub %} active{% elsif page-url == child-stub %} active{% endif %}" href="{% if page.lang != site.site_languages[0]['lang_id'] %}{{ childStub.stub | prepend: page.lang | prepend: '/' | relative_url }}{% else %}{{ childStub.stub | relative_url }}{% endif %}">{{ site.data.config-translation | where: "translate_id", nav.translate_id_nav | map: page.lang | first }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-5 mt-2 text-end">

           {% if site.organization-logo-nav %} <p class="text-end">
                <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                    <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} home">
                </a>
            </p>
            {% endif %}
            <p class="text-white" id="footer-credits">
                <small><em>{{ site.data.config-translation | where: "translate_id", "home-built" | map: page.lang | first | default: "built with" }}</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>

        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">{{ site.data.config-translation | where: "translate_id", "home-update" | map: page.lang | first | default: "Last updated" }} {{ site.time | date: '%Y' }}</p>
    </div>

</footer>