---
# Lunr search page
layout: page 
custom-foot: js/lunr-js.html
---
{%- assign fields = site.data.config-search | where_exp: 'field', 'field.index == "true"' | where_exp: 'field', 'field.lang contains page.lang' | map: 'field' -%}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#operators">{% include translate.html id="search-options-button" default="Search Options" %}</button>
<!-- Modal -->
<div class="modal fade" id="operators" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{% include translate.html id="search-lunr-options" default="Lunr Search Options" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include translate.html id="search-options-modal-part-1" %}
                {{ fields | join: ", " }}
                {% include translate.html id="search-options-modal-part-2" %}
            </div>
        </div>
    </div>
</div>

{{ content }}

<div class="ms-3 mt-3">
    <form class="" role="search" id="lunrSearch" onsubmit="lunr_search(); return false;">
        <div class="input-group input-group-lg">
            <input id="lunrSearchBox" class="form-control " type="text" placeholder="Enter your search term..." >
            <button class="btn btn-success" type="submit">
                {% include translate.html id="search" default="Search" %}
            </button>
        </div>
    </form>
    
    <table id="lunrResults" class="table table-responsive"></table>
</div>

<div class="mt-3">
    <p class="text-muted">{% include translate.html id="search-fuzzy" default="Fuzzy search powered by" %} <a href="https://lunrjs.com/" target="_blank" rel="noopener">Lunr.js</a>. <em>{% include translate.html id="search-load" default="May take a second to load large collections!" %}</em></p>
    {% if site.google-cse-id %}<p class="text-muted">{% include translate.html id="search-google-cse" default="Alternatively, try" %} <a href="{{ '/search/google.html' | relative_url }}">Google CSE</a> {% include translate.html id="search-site-search" default="site search" %}.</p>{% endif %}
</div>
